<div class="container-fluid">
    <div class="row footerLinks">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                  <h6>Note Legali</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-dark">Copyright</li>
                  <li class="list-group-item list-group-item-dark">Diritto di Recesso</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                  <h6>Social</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-dark"><a href="https://www.facebook.com/asdinnovationracinteam/" target="_blank">Facebook</a></li>
                  <li class="list-group-item list-group-item-dark"><a href="https://www.instagram.com/innovation_racing_team/" target="_blank">Instagram</a></li>
                  <li class="list-group-item list-group-item-dark">LinkedIn</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                    <h6>Spedizioni Pagamenti</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-dark">Fatturazione</li>
                  <li class="list-group-item list-group-item-dark">Condizioni di Spedizione</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                  <h6>Assistenza</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-dark">Condizioni di Recesso</li>
                  <li class="list-group-item list-group-item-dark">Assistenza in Garanzia</li>
                  <li class="list-group-item list-group-item-dark">Preventivo Intervento</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                  <h6>Dati Aziendali</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li routerLink="/azienda/partitaiva" class="list-group-item list-group-item-dark">Partita Iva</li>
                  <li routerLink="/azienda/societa" class="list-group-item list-group-item-dark">Società</li>
                  <li routerLink="/azienda/ragionesociale" class="list-group-item list-group-item-dark">Ragione Sociale</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="bg-dark text-white card">
                <div class="bg-dark text-white card-header">
                  <h6>Contatti</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li routerLink="/contatti/telefono" class="list-group-item list-group-item-dark">Telefono</li>
                  <li routerLink="/contatti/mail" class="list-group-item list-group-item-dark">Mail</li>
                  <li routerLink="/contatti/cellulare" class="list-group-item list-group-item-dark">Cellulare</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row businessData">

    </div>
</div>
