.card{
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    padding: 10px;
}

.card-img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.card-img-overlay{
    border-radius: 0px !important;
}
.card-title{
    position: relative;
    bottom: 10px;
    right: 15px;
    text-align: right;
    font-size: 5em;
}
.card-subtitle{
    position: absolute;
    bottom: 10px;
    right: 15px;
    text-align: right;
    font-size: 1.5em;
}
.textBox{
    background-color: black;
    color: white !important;
    transform: translateY(20px);
    background-position: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: larger;
    text-align: center;
}
