.primariga{
    height: 750px;
}
.left,.right{
    width: 100%;
    padding: 0px;
    border-radius: 0px !important;
    border: 0px;
}
.right{
    background-color: cornflowerblue;
}
.hero{
    height: 100%;
}
.page{
    overflow-x: hidden;
    padding-top: 180px;
}

@media screen and (max-width: 992px){
   .page{
    padding-top: 70px;
   }
}