<div class="container-fluid page">
    <div class="row primaRiga">
        <div class="col-2 left">
            <app-left-bar class="d-none d-md-block" (categoriaMostrata)="cambiaCategoria($event)"></app-left-bar>
        </div>
        <div class="col-12 col-md-10 right">
            <app-hero [info]="infoPagina.hero" class="hero"></app-hero>
        </div>
    </div>
    <div class="row">
        <app-page-element class="col-12" id="{{infoPagina.id}}"  [infoBlock]="infoPagina"></app-page-element>
    </div>
    <app-contatti></app-contatti>
    <app-footer></app-footer>
</div>

