<br>
<div class="row rigaElem">
    <div class="col-12 colonne"><app-big [images]="infoBlock.GalleryTop"></app-big></div>
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-md-8 col-12 colonne">
        <h1>{{infoBlock.testoTop.title}}</h1>
        <h3>{{infoBlock.testoTop.subTitle}}</h3>
        <p *ngFor="let riga of tmpTop">{{riga}}</p>
        <h3>{{infoBlock.testoTop.footer}}</h3>
        <button class="btn btn-dark btn-lg" routerLink="contatti">Contattaci!</button>
    </div>
    <div class="col-2 d-none d-md-block"></div>
</div>
<div class="row rigaElem">
    <div class="col-12 colonne"><app-big [images]="infoBlock.GalleryBottom"></app-big></div>
    <div class="col-12 colonne">
        <h1>{{infoBlock.testoBottom.title}}</h1>
        <h3>{{infoBlock.testoBottom.subTitle}}</h3>
        <p *ngFor="let riga of tmpBottom">{{riga}}</p>
        <h3>{{infoBlock.testoTop.footer}}</h3>
        <button class="btn btn-dark btn-lg" routerLink="contatti">Contattaci!</button>
    </div>
</div>
