.lista{
    height: 900px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.voceLista{
    height: 100%;
}
.font{
    font-size: large;
}
p{
    font-size: large;
}
.colonne{
    text-align: center;
}