@media only screen and (max-width: 758px){
    .twoElem{
        height: 40% !important;
    }
    .big{
        height: 60% !important;
    }
    .block{
        height: 700px !important;
    }
    .small{
        height: 50% !important;
    }
}

.block{
    height: 800px;
}
.big{
    height: 800px;
    background-color: orange;
    padding: 0px;
}
.small{
    height: 400px;
    background-color: blue;
}
.elem{
    width: 100%;
    height: 100%;
}