.card{
    padding-top: 20px !important;
}
.colonne{
    border: 0px !important;
}
.left,.right{ 
    width: 100%;
    padding: 0px;
    border-radius: 0px !important;
    border: 0px;
}

.page{
    overflow-x: hidden;
    padding-top: 180px;
}

@media screen and (max-width: 992px){
   .page{
    padding-top: 70px;
   }
}