<div class="container-fluid page">
    <div class="row primaRiga">
        <div class="col-2 left">
            <app-left-bar class="d-none d-md-block"></app-left-bar>
        </div>
        <div class="col-12 col-md-10 heroZone">
            <app-hero [info]="heroBlock"></app-hero>
        </div>
    </div>
    <div class="row" *ngFor="let blocco of articolo.blocchi">
        <!-- <div class="col-12 separatore"></div> -->
        <div class="misto row" *ngIf="blocco.foto!='' && blocco.body!=''">
            <div class="col-12 text-center">
                <img [src]="'assets/'+blocco.foto" alt="">
            </div>
            <div class="col-12">
                <app-textbox [text]="blocco"></app-textbox>
            </div>
        </div>
        <div class="testo" *ngIf="blocco.foto=='' && blocco.body!=''">
            <div class="col-12">
                <app-textbox [text]="blocco"></app-textbox>
            </div>
        </div>
        <div class="foto" *ngIf="blocco.foto!='' && blocco.body==''">
            <div class="col-12 text-center">
                <img class="rounded mx-auto d-block" [src]="'assets/'+blocco.foto" alt="">
            </div>
        </div>
    </div>
    <div class="separatore"></div>
    <div class="linkInterni">
        <button class="btn btn-warning btnLinks" *ngFor="let btn of articolo.linkInterni" [routerLink]="['/'+btn.url]">{{btn.title}}</button>
    </div>
    <br>
    <div class="linkEsterni">
        <a class="btn btn-danger btnLinks" *ngFor="let btn of articolo.linkEsterni" href={{btn.url}} target="_blank">{{btn.title}}</a>
    </div>
    <br>
    <button *ngIf="lingua == 'ita'" class="btn btn-dark btn-lg" routerLink="/contatti">Contattaci!</button>
    <button *ngIf="lingua == 'eng'" class="btn btn-dark btn-lg" routerLink="/contatti">Contact Us!</button>

    <app-contatti></app-contatti>
    <app-footer></app-footer>
</div>
