<div class="container-fluid page">
    <div class="row primaRiga">
        <div class="col-2 left">
            <app-left-bar class="d-none d-md-block"></app-left-bar>
        </div>
        <div class="col-12 col-md-10 heroZone">
            <app-hero [info]="heroBlock"></app-hero>
        </div>
    </div>
    <div class="row" *ngFor="let blocco of articolo.blocchi">
        <div class="col-12 separatore"></div>
        <div class="misto row" *ngIf="blocco.foto!='' && blocco.body!=''">
            <div class="col-12 text-center">
                <img [src]="'assets/'+blocco.foto" alt="">
            </div>
            <div class="col-12">
                <h1>{{blocco.titolo}}</h1>
                <h3>{{blocco.sottotitolo}}</h3>
                <p *ngFor="let p of blocco.tmp">{{p}}</p>
                <h3>{{blocco.footer}}</h3>
            </div>
        </div>
        <div class="testo" *ngIf="blocco.foto=='' && blocco.body!=''">
            <div class="col-12">
                <h1>{{blocco.titolo}}</h1>
                <h3>{{blocco.sottotitolo}}</h3>
                <p *ngFor="let p of blocco.tmp">{{p}}</p>
                <h3>{{blocco.footer}}</h3>
            </div>
        </div>
        <div class="foto" *ngIf="blocco.foto!='' && blocco.body==''">
            <div class="col-12 text-center">
                <img class="rounded mx-auto d-block" [src]="'assets/'+blocco.foto" alt="">
            </div>
        </div>
    </div>
    <div class="separatore"></div>
    <app-contatti></app-contatti>
    <app-footer></app-footer>
</div>
