<div class="list-group leftBar ">
    <button type="button" class="bg-dark text-white list-group-item list-group-item-action element" (click)="corse=!corse">Corsi Guida</button>
    <div class="list-group" *ngIf="corse" >
        <button type="button" routerLink="/corsi/fuoristrada" class="list-group-item list-group-item-action element">Fuori Strada</button>
        <button type="button" routerLink="/corsi/velocita" class="list-group-item list-group-item-action element">Velocità</button>
    </div>
    <button type="button" (click)="inPista = !inPista" class="bg-dark text-white list-group-item list-group-item-action element">Giornate In Pista</button>
    <div class="list-group" *ngIf="inPista" >
        <button type="button" routerLink="/corsi/fuoristrada" class="list-group-item list-group-item-action element">Fuori Strada</button>
        <button type="button" routerLink="/corsi/velocita" class="list-group-item list-group-item-action element">Velocità</button>
    </div>
    <button type="button" (click)="team = !team" class="bg-dark text-white list-group-item list-group-item-action element">Escursioni</button>
    <div class="list-group" *ngIf="team">
        <button type="button" routerLink="/team/storia" class="list-group-item list-group-item-action element">Enduro</button>
        <button type="button" routerLink="/team/noi" class="list-group-item list-group-item-action element">Stradale</button>
    </div>
    <!--<button type="button" (click)="crossodromo = !crossodromo" class="list-group-item list-group-item-action element">Pista OffRoad</button>
    <div class="list-group" *ngIf="crossodromo">
        <button type="button" class="list-group-item list-group-item-action element">Orari Apertura</button>
        <button type="button" class="list-group-item list-group-item-action element">Luogo</button>
        <button type="button" class="list-group-item list-group-item-action element">Bar</button>
        <button type="button" class="list-group-item list-group-item-action element">Eventi</button>
    </div>-->
    <!--<button type="button" routerLink="/noleggio/moto" class="bg-dark text-white list-group-item list-group-item-action element">Noleggio Moto</button>-->
    <button type="button" routerLink="/blog/stampa" class="bg-dark text-white list-group-item list-group-item-action element">Blog</button>
    <button type="button" routerLink="/calendario/eventi" class="bg-dark text-white list-group-item list-group-item-action element">Calendario</button>
    <button type="button" routerLink="/sponsor/Partner" class="bg-dark text-white list-group-item list-group-item-action element">Sponsor Partner</button>
    <button type="button" (click)="contatti = !contatti" class="d-lg-none bg-dark text-white list-group-item list-group-item-action element">Contatti</button>
    <div class="list-group d-lg-none" *ngIf="contatti">
        <button type="button" routerLink="/contatti" class="list-group-item list-group-item-action element"><img src="assets/icona-whatsapp.png" alt="whatsapp_icon" class="icons">848465451</button>
        <button type="button" routerLink="/contatti" class="list-group-item list-group-item-action element"><img src="assets/icona-mail.png" alt="mail_icon" class="icons"> mail@mail.mail</button>
    </div>
    <div class="row rowBtn">
        <button class="col-6 col-md-12 d-lg-none bg-dark text-white list-group-item list-group-item-action element optionBtn" (click)="linguaIta()"><img routerLink="fuoristrada" class="content" src="assets/ita.svg.webp" alt=""></button>
        <button class="col-6 col-md-12 d-lg-none bg-dark text-white list-group-item list-group-item-action element optionBtn" (click)="linguaEng()"><img routerLink="fuoristrada" class="content" src="assets/eng.svg.webp" alt=""></button>
    </div>
    <div class="row rowBtn">
        <button *ngIf="fuoristrada==false" class="col-6 col-md-12 d-lg-none bg-dark text-white list-group-item list-group-item-action element optionBtn" routerLink="fuoristrada"><img routerLink="fuoristrada" class="content" src="assets/cross-logo-dark.png" alt=""></button>
        <button *ngIf="fuoristrada==true" class="col-6 col-md-12 d-lg-none bg-danger text-white list-group-item list-group-item-action element optionBtn" routerLink="fuoristrada"><img routerLink="fuoristrada" class="content" src="assets/cross-logo-dark.png" alt=""></button>
        <button *ngIf="stradale==false" class="col-6 col-md-12 d-lg-none bg-dark text-white list-group-item list-group-item-action element optionBtn" routerLink="stradale"><img routerLink="stradale" class="content" src="assets/corsa-logo-dark.png" alt=""></button>
        <button *ngIf="stradale==true" class="col-6 col-md-12 d-lg-none bg-danger text-white list-group-item list-group-item-action element optionBtn" routerLink="stradale"><img routerLink="stradale" class="content" src="assets/corsa-logo-dark.png" alt=""></button>
    </div>
    <!--<button type="button" class="bg-warning text-white list-group-item list-group-item-action element bg-danger text-center" (click)="mettiCross()"><img class="content" src="assets/cross-logo.png" alt=""></button>
    <button type="button" class="bg-danger text-white list-group-item list-group-item-action element bg-danger text-center" (click)="mettiCorse()"><img class="content" src="assets/corsa-logo.png" alt=""></button>-->
</div>