nav{
    position: absolute top;
}
.logoBar{
    height: 150px;
    padding: 0px;
    text-align: center;
}
.logo{
    height: 100%;
}
.nav-link{
    color: white !important;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.topBar{
    position: sticky;
    background-color: #221E1E;
}
.navbar{
    height: 100px;
}
.buttonRow{
    padding-top: 0px;
}
.contatti{
    padding: 0px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content{
    text-align: center;
    height: 50px;
}
.mail{
    text-align: center !important;
}
.btnContent{
    height: 50px;
    padding: 0px;
    border-radius: 0px;
    width: 50%;
}
.contattiCol{
    width: 50%;
}
.contattiBtn{
    text-align: center;
    width: 70px;
    height: 100%;
    color: white;
}
.contattiIcons{
    height: 50px;
}
.icons{
    height: 25px;
}
.centrale{
    text-align: center;
}
.colonne{
    text-align: center;
}


