<nav class="topBar sticky-top"> 
    <div class="row logo text-white">
        <div class="col-4  d-none d-lg-block container-fluid">
            <div class="row contatti centrale">
                <div class="col-3">
                    <button class="btn btnContent" (click)="linguaIta()"><img (click)="linguaIta()" class="icons" src="assets/ita.svg.webp" alt=""></button>
                </div>
                <div class="col-3">
                    <button class="btn  btnContent" (click)="linguaEng()"><img (click)="linguaEng()" class="icons" src="assets/eng.svg.webp" alt=""></button>
                </div>
                <div class="col-3">
                    <button *ngIf="fuoristrada==false" class="btn btnContent" (click)="setFuoristrada()"><img (click)="setFuoristrada()" class="content" src="assets/cross-logo-light.png" alt=""></button>
                    <button *ngIf="fuoristrada==true" class="btn bg-danger btnContent" (click)="setFuoristrada()"><img (click)="setFuoristrada()" class="content" src="assets/cross-logo-dark.png" alt=""></button>
                </div>
                <div class="col-3">
                    <button *ngIf="stradale==false" class="btn btnContent" (click)="setStradale()"><img (click)="setStradale()" class="content" src="assets/corsa-logo-light.png" alt=""></button>
                    <button *ngIf="stradale==true" class="btn bg-danger btnContent" (click)="setStradale()"><img (click)="setStradale()" class="content" src="assets/corsa-logo-dark.png" alt=""></button>
                </div>
            </div>
        </div>
        <div class="col-4 logoBar  d-none d-lg-block ">
            <img class="content" src="assets/Logo_Team_Solid.png" (click)="goHome()" class="logo" alt="" >
        </div>
        <div class="col-4 d-none d-lg-block container-fluid colonne">
            <div class="row contatti centrale">
                    <button class="btn btnContent contattiBtn" [routerLink]="['contatti']"><img src="assets/icona-mail.png" alt="mail_icon" class="contattiIcons">
                        <h3 *ngIf="lingua == 'ita'" class="telefono">Contattaci</h3>
                        <h3 *ngIf="lingua == 'eng'" class="telefono">Contact Us</h3>
                    </button>
                    <button class="btn btnContent contattiBtn" [routerLink]="['contatti']"><img src="assets/icona-whatsapp.png" alt="whatsapp_icon" class="contattiIcons">
                        <h3 class="telefono">338 3279888</h3>
                    </button>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light text-white">
        <button (click)="aboutBar()" class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#aboutbarSupportedContent" aria-controls="aboutbarSupportedContent" aria-expandable="false" aria-label="Toggle about">
            <span class="navbar-toggler-icon bg-white"></span>
        </button>

        <a class="navbar-brand d-lg-none" href="#">
            <img class="content" src="assets/Logo_Team_Solid.png" height="60" class="d-inline-block align-top" alt="">
        </a>

        <button (click)="navBar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
        </button>

        <div [ngbCollapse]="isNavbarCollapsed" class="buttonRow collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 text-white">
                <li class="nav-item active" *ngFor="let elem of links">
                    <div ngbDropdown class="nav-item bg-dark" *ngIf="elem.links.length > 1">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{elem.sezione}}</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngFor="let link of elem.links" [routerLink]="[elem.url,link.url]" ngbDropdownItem>{{link.title}}</button>
                        </div>
                    </div>
                    <a class="nav-link bg-dark" *ngIf="elem.url =='sponsorTecnici'" [routerLink]="[elem.url,elem.links[0].url]">{{elem.sezione}}</a>
                </li>

                <!--<li class="nav-item">
                    <div ngbDropdown class="nav-item bg-dark">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Corsi Guida</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button routerLink="corsi/fuoristrada" ngbDropdownItem>Fuoristrada</button>
                            <button routerLink="corsi/velocita" ngbDropdownItem>Velocità</button>
                        </div>
                    </div>
                </li>-->

                <!--<li class="nav-item">
                    <button ><img class="content" src="assets/cross-logo.png" alt=""></button>
                    <button ><img class="content" src="assets/corsa.logo.png" alt=""></button>
                </li>-->
            </ul>
        </div>
    </nav>
    <div [ngbCollapse]="isAboutbarCollapsed" class="collapse navbar-collapse" id="aboutbarSupportedContent">
        <app-left-bar></app-left-bar>
    </div>
</nav>